.App {
  display: flex;
  justify-content: center;
  padding: 128px;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img,
video {
  border-radius: 8px;
  overflow: hidden;
}

.controls {
  display: flex;
  gap: 16px;
}

.btn-container {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.btn-container button {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  border: none;
  padding: 16px 56px;
  border-radius: 8px;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.btn-container button:hover {
  background: rgba(0, 118, 255, 0.9);
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.viewerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controllerContainer {
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: none; /* Use 'none' instead of 'black' to remove the border */
  cursor: pointer;
}

.startButton img {
  max-width: 50%; /* Ensure the image scales correctly */
  height: auto;
}

.startButton div {
  font-size: 46px;
  padding-top: 10%;
  color: white; /* Adjust text color as needed */
}

.themeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.themeButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  grid-gap: 8vw; /* Adjust the gap between buttons as needed */
  width: 80vw; /* Takes full width of its container */
  height: 80vw; /* Takes full height of its container */
  padding: 5vw; /* Adjust padding as needed */
}

.themeButtons button {
  width: 100%; /* Ensures buttons take full width of the grid cell */
  height: 100%; /* Ensures buttons take full height of the grid cell */
  font-size: 1.5em; /* Adjust based on your design needs */
}

.styleButtons {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Creates two columns */
  width: 100%; /* Takes full width of its container */
  height: 100%; /* Takes full height of its container */
}

.styleButtons button {
  background-color: black;
  border: none;
  color: white;
  font-size: 24px;
}

.defaultButton, .captureButton {
  background-color: #FFFC00;
  border: none;
  color: black;
  font-size: 40px;
  border-radius: 1rem;
  font-weight: 600;
}

.customInput {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  place-items: center;
  grid-gap: 20px; 
  bottom: 5.5vh;
}

.customInput button {
  width: 25%;
}

.customInput, .title {
  position: absolute;
  width: 80vw;
}

.title {
  top: 10.5vh;
  color: white;
  background-color: black;
  border: none;
  font-size: 40px;
}

.input {
  width: 95%;
  font-size: 40px;
  border-radius: 1rem;
}

.captureButton {
  font-size: 60px;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  height: 10vh;
  width: 90vw;
  top: 0;
  left: 5vw;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Optional, if you want to vertically center the buttons */
}

.headerButton {
  /* Button specific styles here */
  padding: 10px;
  border: none;
  background-color: transparent; /* Example style, adjust as needed */
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.previewContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  place-items: center;
  grid-gap: 20px; 
}

.previewContainer img{
  height: 80%;
  width: auto;
}

.webcamContainer {
  position: relative;
}

.countdown, .countdownText {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  place-items: center;
  z-index: 2;
}

.countdown p, .countdownText {
  color: white;
  font-size: 125px;
}

.countdownText {
  text-align: center;
}

.container {
  position: relative;
  width: 1000px;
  height: 1000px; 
}

.webcamView {
  position: absolute;
  top: 15vh;
  left: 0;
}

.capturedImage {
  position: absolute;
  top: 2.5vh;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
